@font-face {
  font-family: "Neuzeit";
  src: url("../fonts/NeuzeitSLTStd-Book.otf");
}
.block-hero {
  font-family: "Neuzeit";
  margin-top: 50px;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  /*
      & > span {
          text-transform: lowercase;
          letter-spacing: 0rem;
          font-size: 3.5rem;
          font-weight: 200;
          position: absolute;
          left: 4vw;
          font-weight: 100;

          @media (max-width:768px) {
              font-size: 4vw;
          }
      }
  */
}
@media (max-width: 768px) {
  .block-hero {
    margin-top: 4vw;
  }
}
.block-hero .logo {
  position: absolute;
  /*width: 200px;*/
  /*height: 50px;*/
  /*line-height: 93px;*/
  text-align: center;
  /*margin-bottom: 90px;*/
  background: #fff;
  margin: 0;
}
.block-hero .logo a {
  width: 260px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/css/img/westy-logo.svg);
  background-origin: padding-box;
  background-position: 0px 0px;
  background-size: 100%;
  display: block;
  height: 46px;
  background-repeat: no-repeat;
  background-position: left center;
}
@media (max-width: 768px) {
  .block-hero .logo a {
    width: 40vw;
  }
}
.block-hero div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .block-hero div {
    padding: 0;
    margin-right: 0;
  }
}
.block-hero div a {
  font-size: 1.2rem;
  display: none;
  text-transform: uppercase;
  font-weight: 200;
  margin-right: 25px;
  color: #000;
  letter-spacing: 0.15rem;
}
@media (max-width: 768px) {
  .block-hero div a {
    font-size: 3vw;
    margin-right: 3vw;
    letter-spacing: 0.4vw;
  }
}
.block-hero div a.visible {
  display: block;
}
.block-hero div span {
  text-transform: lowercase;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 100;
  color: #AAA;
}
@media (max-width: 768px) {
  .block-hero div span {
    font-size: 3vw;
    letter-spacing: 0.4vw;
  }
}

.gallery__container {
  font-family: "Neuzeit";
}
.gallery__container h1 {
  margin-top: 80px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .gallery__container h1 {
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-size: 6vw;
  }
}
.gallery__container .gallery__description {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .gallery__container .gallery__description {
    margin: 0vw 4vw 0;
  }
}
.gallery__container .gallery__description .inner__container {
  padding: 10px 0px;
  border-bottom: 1px solid #000;
}
.gallery__container .gallery__description .inner__container span {
  color: #AAA;
  margin-right: 25px;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .gallery__container .gallery__description .inner__container span {
    margin-right: 25px;
    font-size: 4vw;
  }
}
.gallery__container .gallery__description .inner__container span:nth-of-type(1) {
  color: #000;
}
.gallery__container .gallery {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 0;
}
@media (max-width: 768px) {
  .gallery__container .gallery {
    margin-top: 8vw;
    padding: 0px 4vw;
  }
}
.gallery__container .gallery .tile {
  padding: 0px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery__container .gallery .tile {
    padding: 0;
  }
}
.gallery__container .gallery .tile .image__container {
  width: 100%;
  position: relative;
}
.gallery__container .gallery .tile .image__container > img {
  max-width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-in-out;
}
.gallery__container .gallery .tile .image__container > .hover__container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 768px) {
  .gallery__container .gallery .tile .image__container > .hover__container {
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.gallery__container .gallery .tile .image__container > .hover__container > figcaption {
  transform: translate(0, 30px);
  padding-bottom: 10px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #FFF;
}
@media (max-width: 768px) {
  .gallery__container .gallery .tile .image__container > .hover__container > figcaption {
    font-size: 3vw;
    transform: none;
    opacity: 1;
    left: 0;
    position: relative;
    padding-bottom: 0;
  }
}
.gallery__container .gallery .tile > figcaption {
  font-size: 1rem;
  display: block;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  position: relative;
  transition: 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .gallery__container .gallery .tile > figcaption {
    font-size: 3vw;
    display: none;
  }
}
.gallery__container .gallery .tile:hover .image__container > .hover__container {
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery__container .gallery .tile:hover .image__container > .hover__container > figcaption {
  transform: none;
  opacity: 1;
}
@media (max-width: 768px) {
  .gallery__container .gallery .tile:hover .image__container > .hover__container > figcaption {
    transform: none;
    opacity: 1;
  }
}
.gallery__container .gallery .tile:hover > figcaption {
  transform: translate(10%, 0);
  opacity: 0;
}

/*

.royalSlider__container {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
	transition: $transition_base;

	.close__container {
		width: 20px;
		aspect-ratio: 1;
		position: absolute;
		top: 5%;
		right: 5%;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}


	}

	.royalSlider {
        visibility: hidden;

        .rsOverflow {
            overflow:visible;

            .rsSlide {
                overflow: visible;


                .slider__item {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    max-width: 80vw;
                    margin-left: auto;
                    margin-right: auto;
                    cursor:w-resize;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }


                    p {
                        position: absolute;
                        bottom: -50px;
                        margin-bottom: 0;
                        font-family: "Neuzeit";
                        text-transform: uppercase;
                        letter-spacing: 0.3rem;
                        color: #777;
                        font-size: 1.4rem;
                    }
                }
            }


            .rsArrow  {
                width: 30px;
                aspect-ratio: 1;
                position: absolute;
                top: 50%;


                &.rsArrowLeft  {
                    left: 3%;
                    background: url('../img/base/prev.png');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                &.rsArrowRight {
                    right: 3%;
                    background: url('../img/base/next.png');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }


	}

}




body.rs-opened {

	.royalSlider__container {
		opacity: 1;
		z-index: 9000;
        transition: $transition_base;

		.royalSlider{
            visibility: visible;

		}
	}


}
*/
.vbox-overlay .vbox-container .vbox-content .vbox-child {
  box-shadow: none !important;
}
.vbox-overlay .vbox-next {
  right: 30px;
}
.vbox-overlay .vbox-next span {
  border-top-color: #333 !important;
  border-right-color: #333 !important;
}
.vbox-overlay .vbox-prev span {
  border-top-color: #333 !important;
  border-right-color: #333 !important;
}
.vbox-overlay .vbox-close {
  margin-top: 20px;
  margin-right: 25px;
}
.vbox-overlay .vbox-close .vbox-close-icon {
  fill: #333 !important;
}/*# sourceMappingURL=category.css.map */